body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 5px;
    padding-left: 20px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.navbar-brand .logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
   
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 40px;
   
}

.nav-links li:hover{
     background-color: blue;
    
}

.nav-links li {
    margin: 0 15px;
    padding: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


.cart img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
    color: white;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}


.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}



.container{
     width: 80%;
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
     gap:40px;
     flex-wrap: wrap;
}

.card{
     width: 250px;
     border-radius: 5px;
     /* border:1px solid #ccc; */
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     min-height: 340px;
     padding: 5px;
     box-sizing: border-box;
     box-shadow: 0px  1px 8px rgba(0,0,0,0.5);
}

.card:hover{
    transform: scale(1.04);
     cursor: pointer;
     transition: 0.34s;
}

.card img{
     text-align: center;
     width: 80%;
     box-sizing: border-box;
}

.card-body{
     width: 85%;
     display: flex;
     justify-content:flex-start ;
     flex-direction: column;
     align-items: flex-start;
}
.card-body div button{
     padding: 8px;
     background-color: green;
     color: white;
     border-radius: 5px;
     border: none;
}
main .Filters ul li{
     height: 20px;
     list-style: none;
}
main .Filters ul li:hover{
     background-color: #eee;
     cursor: pointer;
}

footer ul li a{
      text-decoration: none;
      color: white;
      text-underline-offset: none;
}

footer ul li{
     list-style: none;
}

footer h4{
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
footer h4:before{
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    bottom: 0;
    left: 0%;
    border-bottom: 1px solid white;
}

footer p{
     font-size: 16px;
     text-align: left;
     color: #eee;;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 43px;
        left: 0;
        gap: 5px;
       
        background-color: #333;
        padding: 10px 10px;
       
    }

    .nav-links.active {
        display: flex;
        transition: 1s;
        
    }

    .hamburger {
        display: flex;
        padding-right: 40px;
    }


    .Filters{
        display: none;
    }
}